<div class="container">
  <h1>{{title}}</h1>
  <article>
    <h1>Generar Tareas</h1>
    <label for="tarea">Crear una nueva tarea</label>
    <input type="text" id="tarea" name="tarea" [(ngModel)]="nombre">
    <button (click)="newTodo()">Crear Targeta</button>
  </article>
  <div *ngFor="let todo of todos">
    <article>
    <p>{{todo.name}}</p>    
    <p *ngIf="!todo.completed">Completado: ❌</p>
    <p *ngIf="todo.completed">Completado: ✔️</p>
    <div class="buttons">
      <button (click)="deleteTodo(todo.id)">Eliminar</button>
      <button (click)="completeTodo(todo.id)">Completar</button>      
    </div>
  </article>
  </div>
</div>

<style>
  .buttons{
    display: flex;
    gap: 1em
  }
</style>